* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rectangles_row {
  display: flex;
  height: 300px;
  margin-top: 20px;
  flex-direction: row;
  justify-content: center;
}

.rcorners {
  width: 200px;
  height: 150px;
  padding: 20px;
  border-radius: 25px;
  margin-right: 10px;
}

.rcorner1 {
  border: 2px solid #73ad21;
}

.rcorner2 {
  border: 2px solid #2a3a14;
}

.rcorner3 {
  border: 2px solid #6c21ad;
}

.rcorner4 {
  border: 2px solid #ad4421;
}
