@media screen and (max-width: 767px) {
  .main-desc,
  .about_me_achievements {
    flex-direction: column;
  }
  .my_skills_container {
    margin: 0px;
    padding: 0px;
    flex-direction: column;
  }
  .my_skills_container img {
    width: 100%;
  }
  .my_skills_container_enum {
    min-width: 60%;
  }
}
