/* common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.silver_background {
  background-color: #eeeff1;
}

body {
  font-family: "Roboto";
}

.button {
  width: 225px;
  height: 65px;
  border: none;
  cursor: pointer;
  margin-top: 60px;
  background-color: #34547a;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.button:hover {
  background-color: #34537acc;
}

/* main */

.nav_bar {
  display: flex;
  padding-top: 30px;
  margin: 0px 30px;
  align-items: center;
  justify-content: space-between;
}

.nav_bar ul {
  display: flex;
  column-gap: 42px;
  font-weight: 400;
  list-style-type: none;
}

.nav_bar li {
  cursor: pointer;
}

.nav_bar span {
  font-size: 48px;
  color: #34547a;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  font-family: "Revalia";
}

.main_container_body {
  gap: 50px;
  display: flex;
  padding: 60px 0;
  align-items: center;
  justify-content: space-around;
}

.main_container_desc_text {
  max-width: 541px;
}

.main_container_body img {
  max-width: 357px;
  min-height: 234px;
}

.main_container_desc_text h1 {
  font-size: 48px;
  font-weight: bold;
}

.main_container_desc_text p {
  color: #727272;
  font-size: 16px;
  margin-top: 61px;
  font-weight: 400;
  line-height: 26.25px;
}

.about_me_container {
  margin: 50px;
  text-align: center;
}

.about_me_text {
  max-width: 540px;
  display: inline-flex;
  flex-direction: column;
}

.about_me_text h2 {
  font-size: 32px;
  font-weight: 500;
}

.about_me_text span {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #727272;
}

.about_me_achievements {
  display: flex;
  column-gap: 20px;
  padding: 50px 0px;
  align-items: center;
  justify-content: center;
  background-color: #34547a;
}

.about_me_achievements img {
  width: 50px;
  height: 50px;
}

.about_me_achievements_text {
  color: white;
}

/* my skills */

.my_skills_container {
  display: flex;
  padding: 0px 30px;
  margin-top: 102px;
  margin-bottom: 101px;
  align-items: center;
  justify-content: space-between;
}

.my_skills_container_enum {
  width: 100%;
  padding-right: 100px;
}

.bar-container {
  width: 100%;
  background: #c4c4c4;
}

.bar {
  width: 80%;
  height: 5px;
  background: #34547a;
}

.my_skills_title {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 50px;
}

.my_skills_technology {
  color: #727272;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* how i work */

.how_i_work {
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.how_i_work_text {
  padding-top: 100px;
  text-align: center;
}

.how_i_work_text h2 {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 30px;
}

.how_i_work_text span {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.video_container {
  margin: 50px 0px;
}

/* my projects */

.my_projects_container {
  margin-top: 28px;
  margin-bottom: 50px;
}

.my_projects_fragment {
  display: flex;
  flex-wrap: wrap;
}

.my_projects_fragment img {
  width: 25%;
}

.my_clients_fragment {
  margin-top: 72px;
  display: flex;
  column-gap: 30px;
  justify-content: center;
}

.my_clients_fragment img {
  max-width: 255px;
  max-height: 120px;
}

/* feedback */

.feedback_container {
  padding: 100px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.feedback_form_desc {
  margin-bottom: 65px;
  max-width: 540px;
  text-align: center;
}

.want_site_title {
  font-size: 32px;
  font-weight: 500;
  line-height: 37.5px;
  margin-bottom: 50px;
}

.want_site_description {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 26.25px;
}

.feedback_form_name_and_email {
  display: flex;
  column-gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.feedback_form_name_input {
  border: none;
  width: 255px;
  height: 50px;
  padding-left: 10px;
}

.feedback_form_email_input {
  border: none;
  width: 255px;
  height: 50px;
  padding-left: 10px;
}

.feedback_form_message_input {
  border: 0;
  width: 540px;
  height: 175px;
  resize: none;
  padding: 10px;
  font-family: "Roboto";
}

.footer {
  display: flex;
  padding: 40px 0px;
  align-items: center;
  flex-direction: row;
  background-color: #34547a;
  justify-content: space-around;
}

.owner_name {
  color: white;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 20px;
}

.owner_site_rights {
  color: white;
  font-size: 13px;
}

.social_media {
  display: flex;
  column-gap: 20px;
}
