.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.action_buttons {
  gap: 40px;
  display: flex;
  padding: 0 auto;
  flex-direction: row;
}

.action_button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  min-height: 60px;
  outline: none;
  padding: 30px;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.action_button:disabled {
  pointer-events: none;
}

.action_button:hover {
  color: #000000;
  background-color: white;
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.action_button:active {
  box-shadow: none;
  transform: translateY(0);
}
