@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@700&family=Roboto:wght@100&display=swap");

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

header {
  border-bottom: 0.1px solid gray;
}

.header-container {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
}

li {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.logo {
  color: #039;
  font-size: 39px;
  font-weight: 700;
  font-family: "Aleo";
}

.secondary-logo {
  font-size: 24px;
  font-weight: 700;
  font-family: "Aleo";
}

.counter {
  color: #393939;
  font-size: 150px;
  font-weight: 700;
  text-align: center;
  font-family: "Aleo";
}

.action_buttons {
  gap: 20px;
  display: flex;
  justify-content: center;
}

.btn {
  border: none;
  width: 100px;
  height: 100px;
  color: white;
  border-radius: 100px;
  background: #0fc50b;
}

footer {
  margin-top: auto;
  color: #9b9da0;
  margin-top: calc(12.5%);
}

footer > .container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.secondary-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
