@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$gray-color: #9093a6;
$yellow-color: #ffe145;
$light-gray-color: #3f4255;
$light-dark-color: #f2f4fa;

$secondaty-font-family: "Poppins";

body {
  color: $light-gray-color;
  font-family: "Martel Sans", "Times New Roman", Times, serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.section-left-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 2.88px;
}

.show-all-button {
  border-radius: 4px;
  padding: 16px 24px;
  background-color: $light-dark-color;
}

.light-dark-bg {
  background-color: $light-dark-color;
}

.logo {
  transition: all 0.5s;

  &:hover {
    transition: all 0.3s;
    filter: drop-shadow(3px 1px 20px $yellow-color);
  }
}

/* main-content */

.top-bar {
  border-bottom: solid #d4d7e5;
}

.main-container {
  .main-container-title {
    font-size: 58px;
    font-weight: 300;
    line-height: 64px;
    letter-spacing: 2.9px;
    color: $light-gray-color;
    font-family: $secondaty-font-family;
  }

  .main-container__item {
    max-height: 72px;
    border-radius: 4px;
    padding: 16px 24px;
    border: 2px solid $yellow-color;
  }

  .main-container__item-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: $light-gray-color;
  }

  .main-container__item-subtitle {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: $light-gray-color;
  }
}

.restaurant-achivements-container {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.05);
}

/* restaurants-content */

.restaurants-carousel__card {
  color: white;
  width: 296px;
  height: 296px;
  border-radius: 4px;
  transition: all 0.3s;
  box-shadow: 0px 2px 16px 0px rgba(60, 62, 74, 0.08);

  &:hover {
    transition: all 0.5s;
    border-color: transparent;
    outline-color: $yellow-color;
    background-color: $yellow-color;
  }
}

/* contact-content */

.contact-container__text-block {
  .contact-container__title {
    font-size: 36px;
    font-weight: 300;
    line-height: 64px;
    letter-spacing: 2.88px;
    color: $light-gray-color;
    font-family: $secondaty-font-family;
  }

  .contact-container__subtitle {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: $light-gray-color;
  }

  .contact-container__delivery-address-input {
    width: 336px;
    height: 72px;
    border: none;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: $gray-color;
    padding-left: 46px;
    border-radius: 6px;
    letter-spacing: 0.5px;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
    background: white url(/public/location.svg) no-repeat scroll 16px center;

    &:focus {
      border: none;
      outline-color: $yellow-color;
    }
  }
}

/* Specialities */

@mixin specialities-item-hover($transition, $color) {
  color: $color;
  transition: $transition;
}

.specialities-item {
  width: 136px;
  height: 136px;
  row-gap: 16px;
  display: flex;
  border-radius: 6px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 2px 16px 0px rgba(60, 62, 74, 0.08);
  @include specialities-item-hover(all 0.7s, #313030);

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    @include specialities-item-hover(all 0.7s, #313030);
  }

  &:hover {
    transition: all 0.5s;
    background-color: $yellow-color;

    p {
      @include specialities-item-hover(all 0.3s, white);
    }
  }
}

/* footer */

footer {
  .footer__social-media-item {
    width: 24px;
    height: 24px;
    transition: all 0.5s;
    background: url(/public/insta_icon.svg) no-repeat 0px center;

    &:nth-child(3) {
      background: url(/public/twitter_icon.svg) no-repeat 0px center;
    }

    &:nth-child(2) {
      background: url(/public/fb_icon.svg) no-repeat 0px center;
    }

    &:hover {
      transition: all 0.3s;
      filter: drop-shadow(0px 0px 10px $yellow-color);
    }
  }

  p {
    transition: all 0.5s;

    &:hover {
      color: $yellow-color;
      transition: all 0.3s;
    }
  }
}
