.learn-more-btn {
  width: 142px;
  height: 45px;
  border: none;
  color: white;
  border-radius: 30px;
  background: #003adb;
  box-shadow: 0px 10px 30px 0px rgba(64, 106, 255, 0.24);
  cursor: pointer;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.learn-more-btn:hover {
  background: white;
  color: black;
  transition: all 1s;
  -webkit-transition: all 1s;
}
