@keyframes in {
  0% {
    transform: scale(0.5);
    transform-origin: 100% 100%;
    border-radius: 120.5px 0px 8px 4px;
    border-top-left-radius: 120px;
  }
  50% {
    transform: scale(0.7);
    transform-origin: 100% 100%;
    border-top-left-radius: 562px;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 100%;
    border-top-left-radius: 4px;
  }
}
