/* common */

@import url(custom_animation.css);

$font-stack: "Fira Sans", Arial, Helvetica, sans-serif;

$blue-color: #003adb;
$primary-color: #0c1117;

@mixin translateAndRotate($translateY, $rotate) {
  transform: translateY($translateY) rotate($rotate);
  -ms-transform: translateY($translateY) rotate($rotate);
  -webkit-transform: translateY($translateY) rotate($rotate);
}

* {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background: $primary-color;
}

.logo {
  width: 155px;
  height: 52px;
  filter: drop-shadow(3px 1px 20px #003adb);
}

.learn-more-button {
  width: 142px;
  height: 45px;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 1s;
  position: relative;
  border-radius: 30px;
  background: $blue-color;
  box-shadow: 0px 10px 30px 0px rgba(64, 106, 255, 0.24);

  &:hover {
    color: black;
    transition: all 1s;
    background: white;
  }
}

/* main content */

.main-container {
  display: flex;

  a {
    transition: 0.5s;
    text-decoration: none;

    &:hover {
      transition: 0.3s;
      color: $blue-color;
    }
  }

  .main-container__overlay-container {
    bottom: 0;
    width: 100%;
    height: 30vw;
    position: absolute;
    background: linear-gradient(180deg, rgba(12, 17, 23, 0) 0%, #0c1117 77.08%);

    display: flex;
    align-items: end;
    justify-content: space-around;

    h3 {
      font-size: 48px;
      font-weight: 500;
      text-align: center;
    }
  }

  .main-container__left-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    min-height: 100vh;
    border-right: 0.5px solid #606e7e;

    a {
      font-size: 18px;
      font-weight: 500;
      @include translateAndRotate(-75px, -90deg);

      &:nth-child(2) {
        @include translateAndRotate(0px, -90deg);
      }

      &:nth-child(3) {
        @include translateAndRotate(75px, -90deg);
      }
    }
  }

  .main-container__text-block {
    max-width: 540px;
    position: relative;
  }

  .main-container__slider {
    font-weight: 700;
    position: relative;

    progress {
      height: 2px;
      margin: 0px 14px;
      max-width: 137px;
      background: white;
    }

    progress::-webkit-progress-bar {
      background: white;
    }

    progress::-webkit-progress-value {
      background: #003adb;
    }
  }
}

/* what-we-do */
