/* common */
@import url(custom_animation.css);
* {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  background: #0c1117;
}

.logo {
  width: 155px;
  height: 52px;
  transition: all 0.5s;
}
.logo:hover {
  cursor: pointer;
  transition: all 0.3s;
  filter: drop-shadow(3px 1px 20px #003adb);
}

.learn-more-button {
  width: 142px;
  height: 45px;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 1s;
  position: relative;
  border-radius: 30px;
  background: #003adb;
  box-shadow: 0px 10px 30px 0px rgba(64, 106, 255, 0.24);
}
.learn-more-button:hover {
  color: black;
  transition: all 1s;
  background: white;
}

/* main content */
.main-content {
  position: relative;
}
.main-content nav {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  z-index: 2;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.main-content .slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.main-content .slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-content .slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.main-content .slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.main-content .slideshow .slide.is-active {
  display: block;
}
.main-content .slideshow .slide.is-loaded {
  opacity: 1;
}
.main-content .slideshow .slide .caption {
  padding: 0 100px;
}
.main-content .slideshow .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}
.main-content .slideshow .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.main-content .slideshow .slide .image {
  width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.main-content .slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content .slideshow .slide .title {
  margin: 0 auto 15px;
  max-width: 1000px;
  font: 300 50px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}
.main-content .slideshow .slide .text {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 18px;
  line-height: 1.4;
}
.main-content .slideshow .slide .btn {
  margin: 15px 0 0;
  border-color: #fff;
}
.main-content .slideshow .slide .btn::before {
  background: #fff;
}
.main-content .slideshow .pagination {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
}
.main-content .slideshow .pagination .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}
.main-content .slideshow .pagination .item + .page {
  margin-left: -2px;
}
.main-content .slideshow .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  transition: 0.2s ease;
}
.main-content .slideshow .pagination .item::after {
  width: 0;
  background: #fff;
  z-index: 2;
  transition: width 0.2s ease;
}
.main-content .slideshow .pagination .item:hover::before, .main-content .slideshow .pagination .item.is-active::before {
  background-color: #fff;
}
.main-content .slideshow .arrows .arrow {
  margin: -33px 0 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}
.main-content .slideshow .arrows .prev {
  left: 30px;
}
.main-content .slideshow .arrows .prev:hover .svg {
  left: -10px;
}
.main-content .slideshow .arrows .next {
  right: 30px;
}
.main-content .slideshow .arrows .next:hover .svg {
  left: 10px;
}
.main-content .slideshow .arrows .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: #fff;
  transition: left 0.2s ease;
}

/* what-we-do */
.what-we-do-container {
  gap: 13px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
}
.what-we-do-container .what-we-do__item {
  height: 350px;
  display: flex;
  position: relative;
  border-radius: 4px;
  background: #1b2837;
}
.what-we-do-container .what-we-do__item .what-we-do__item__text {
  padding: 36px 24px 0px;
  position: absolute;
  z-index: 9;
}
.what-we-do-container .what-we-do__item .what-we-do__item__text .what-we-do__item__title {
  font-size: 24px;
  font-weight: 800;
  color: #f8f9fa;
}
.what-we-do-container .what-we-do__item .what-we-do__item__text .what-we-do__item__subtitle {
  padding: 24px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f8f9fa;
}
.what-we-do-container .what-we-do__item .what-we-do__item__text a {
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
  line-height: 24px;
  color: #f8f9fa;
  text-decoration-line: underline;
}
.what-we-do-container .what-we-do__item .what-we-do__item__text a:hover {
  transition: 0.3s;
  color: #003adb;
}
.what-we-do-container .what-we-do__item .what-we-do__item__oval {
  right: 0;
  width: 136px;
  height: 102px;
  margin-left: auto;
  position: absolute;
  align-self: flex-end;
  transition: all 0.2s;
  display: inline-block;
  background: #003adb;
  border-radius: 69.5px 0px 4px 4px;
}
.what-we-do-container .what-we-do__item .what-we-do__item__oval:hover {
  width: 100%;
  height: 100%;
  animation: in 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.what-we-do-container .what-we-do__item .what-we-do__item__icon {
  right: 0;
  bottom: 0;
  width: 48px;
  height: 48px;
  margin-right: 12.5%;
  margin-bottom: 10%;
  position: absolute;
}
.what-we-do-container .solution-for-business {
  display: flex;
  max-width: 362px;
  max-height: 345px;
  flex-direction: column;
  margin-left: 50px;
}
.what-we-do-container .solution-for-business .solution-for-business__title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.what-we-do-container .solution-for-business .solution-for-business__description {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 300;
}

/* our-works */
.our-works__bg {
  padding-top: 40px;
  padding-bottom: 60px;
  background: #0b0f15;
}
.our-works__bg .our-works__title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 30px;
}
.our-works__bg .our-works__row-1 {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}
.our-works__bg .our-works__case-img {
  flex-grow: 1;
}
.our-works__bg .our-works__row-2 {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: flex-end;
}
.our-works__bg .not-impressed-fragment {
  display: flex;
  min-width: 362px;
  flex-direction: column;
  justify-content: center;
}
.our-works__bg .not-impressed-fragment__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  text-align: left;
  text-transform: uppercase;
}
.our-works__bg .not-impressed-fragment__sub-title {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
}

/* information about us */
.information__about-us {
  width: 100%;
  min-height: 340px;
  margin-bottom: 30px;
  background: #2b61f7;
}
.information__about-us .information__fragment {
  width: 100%;
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.information__about-us .information__item {
  display: flex;
  flex-grow: 1;
  padding-top: 25px;
  min-height: 239px;
  flex-direction: column;
  justify-content: start;
  border-left: 0.5px solid #abc4e3;
}
.information__about-us .information__item:first-child {
  border-left: none;
}
.information__about-us .information__item .information__count {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 143%;
  text-align: center;
  margin-bottom: 9px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.information__about-us .information__item .information__label {
  color: #8fc2ff;
  font-size: 24px;
  font-weight: 700;
  line-height: 143%;
  text-align: start;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}
.information__about-us .information__item .information__desc {
  margin-left: auto;
  margin-right: auto;
}

/* out-team 1 */
.testimonial__team-container {
  margin: 100px 0px;
}
.testimonial__team-container .testimonial__company-head {
  display: flex;
}
.testimonial__team-container .testimonial__about-head {
  display: flex;
  margin: 5% 60px 0px;
  flex-direction: column;
}
.testimonial__team-container .testimonial__about-head .testimonial__title {
  font-size: 48px;
  font-weight: 500;
}
.testimonial__team-container .testimonial__about-head .testimonial__name {
  font-size: 24px;
  font-weight: 500;
  margin-top: 35px;
  margin-bottom: 10px;
}
.testimonial__team-container .testimonial__about-head .testimonial__role {
  font-size: 24px;
  font-weight: 500;
  color: #727272;
}
.testimonial__team-container .testimonial__about-head .testimonial__description {
  max-width: 668px;
  margin-top: 16px;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
}
.testimonial__team-container .testimonial__head-employers-list {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  flex-direction: column;
}
.testimonial__team-container .testimonial__head-employers-list label {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}
.testimonial__team-container .testimonial__head-employers-list div {
  width: 2px;
  height: 83px;
  margin: 4px 0px;
  transition: 0.5s;
  background: white;
  box-shadow: 0px 2px 14px 0px rgba(64, 140, 255, 0.24);
}
.testimonial__team-container .testimonial__head-employers-list div:nth-child(2) {
  background: #003adb;
}
.testimonial__team-container .testimonial__head-employers-list div:hover {
  background: #003adb;
}

/* out-team 2 */
.our-team-container {
  margin: 100px 0px;
}
.our-team-container .our-team__title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 50px;
}
.our-team-container .our-team__employers {
  gap: 20px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
}
.our-team-container .our-team__employers .card {
  top: 50%;
  left: 50%;
  height: 510px;
  transition: 0.5s;
  perspective: 600px;
  position: relative;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
}
.our-team-container .our-team__employers .card:hover .our-team__employer-card-front {
  transform: rotateX(-180deg);
}
.our-team-container .our-team__employers .card:hover .our-team__employer-card-back {
  transform: rotateX(0deg);
}
.our-team-container .our-team__employers .card .our-team__employer-card-front {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  position: absolute;
  background-size: cover;
  transform: rotateX(0deg);
  background-position: 50% 50%;
  backface-visibility: hidden;
  background-color: #2b61f7;
  background-image: url("../assets/images/our_team/don-juan-1.jpg");
}
.our-team-container .our-team__employers .card .our-team__employer-card-back {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  position: absolute;
  transform: rotateX(180deg);
  backface-visibility: hidden;
  background-color: #2b61f7;
}
.our-team-container .our-team__employers .card .our-team__employer-card-back .our-team__employer-card-back-information {
  display: flex;
  flex-direction: column;
}
.our-team-container .our-team__employers .card .our-team__employer-card-back .our-team__employer-card-back-information .our-team__employer-card-back__title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: 20% auto 16px;
}
.our-team-container .our-team__employers .card .our-team__employer-card-back .our-team__employer-card-back-information .our-team__employer-card-back__subtitle {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.our-team-container .our-team__employers .card .our-team__employer-card-back .our-team__employer-card-back-information .our-team__employer-card-back__description {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 20% auto 0;
}
.our-team-container .our-team__employers .card .our-team__employer-card-back .our-team__employer-card__social-links {
  gap: 30px;
  margin: 40% auto 0;
  display: inline-flex;
}
.our-team-container .our-team__employers .card .our-team__employer-card-back .our-team__employer-card__social-links .social-link-icon {
  width: 22px;
  height: 22px;
}
.our-team-container .our-team__employers .card .our-team__employer-card-back .our-team__employer-card__social-links .social-link-icon:hover {
  cursor: pointer;
}

.blog__container .blog-container__title {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}
.blog__container .blog__content {
  gap: 30px;
  display: grid;
  margin-top: 50px;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
}
.blog__container .blog__content .blog__card {
  width: 100%;
  max-width: 460px;
  position: relative;
  background: #11161c;
  border-radius: 0px 90px 0px 0px;
}
.blog__container .blog__content .blog__card .blog-info {
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog__container .blog__content .blog__card .blog-info .blog__short-info {
  display: flex;
  justify-content: space-between;
}
.blog__container .blog__content .blog__card .blog-info .blog__short-info span {
  font-size: 18px;
  font-weight: 500;
  color: #727272;
}
.blog__container .blog__content .blog__card .blog-info .blog__card-title {
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog__container .blog__content .blog__card .blog-info .blog__card-subtitle {
  font-size: 18px;
  font-weight: 300;
  color: #9c9898;
  text-overflow: ellipsis;
}
.blog__container .blog__content .blog__card .bottom-line {
  width: 100%;
  height: 9px;
  background: #003adb;
}

.clients-bg {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #0b0f15;
}
.clients-bg p {
  font-size: 48px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px;
}
.clients-bg .clients-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;
}
.clients-bg .clients-container img {
  width: 125px;
  height: 100px;
}

.contact-us__container {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
}
.contact-us__container .contact-us__title {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}
.contact-us__container .contact-us__container-content {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  gap: 100px;
}
.contact-us__container .contact-us__container-content .contact-us__inputs {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.contact-us__container .contact-us__container-content .contact-us__inputs input {
  height: 2rem;
  border: none;
  margin: 28px 0;
  background-color: transparent;
  border-bottom: 1px #536a82 solid;
  resize: none;
}
.contact-us__container .contact-us__container-content .contact-us__inputs input:focus {
  border: none;
  outline: none;
  border-bottom: 1px #536a82 solid;
}
.contact-us__container .contact-us__container-content textarea {
  height: 80px;
  margin: 28px 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px #536a82 solid;
  resize: none;
}
.contact-us__container .contact-us__container-content textarea:focus {
  border: none;
  outline: none;
  border-bottom: 1px #536a82 solid;
}
.contact-us__container .contact-us__container-content .contact-us__information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.contact-us__container .contact-us__container-content .contact-us__information .contact-us__information__item {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.contact-us__container .contact-us__container-content .contact-us__information .contact-us__information__item .contact-us__information__item-title {
  gap: 12px;
  display: flex;
  flex-direction: row;
}
.contact-us__container .contact-us__container-content .contact-us__information .contact-us__information__item-desc-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 12px 0px;
}
.contact-us__container .contact-us__container-content .contact-us__information .call-button {
  height: 28px;
  width: 107px;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 1s;
  position: relative;
  border-radius: 30px;
  background: #003adb;
  box-shadow: 0px 10px 30px 0px rgba(64, 106, 255, 0.24);
}
.contact-us__container .contact-us__container-content .contact-us__information .call-button:hover {
  color: black;
  transition: all 1s;
  background: white;
}
.contact-us__container .contact-us__container-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-us__container .contact-us__container-bottom button {
  margin-left: 7%;
}
.contact-us__container .contact-us__container-bottom .contact-us__container-bottom-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 102px;
  background: #003adb;
  border-radius: 69.5px 0px 4px 4px;
  box-shadow: 0px 10px 29px 0px rgba(64, 129, 255, 0.24);
}
.contact-us__container .contact-us__container-bottom .contact-us__container-bottom-icon img {
  width: 48px;
  height: 48px;
}

.footer-container {
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-container p {
  color: #fff;
  opacity: 0.5;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.205px;
}
.footer-container span {
  height: 72px;
  margin: 40px 0;
  font-size: 18px;
  color: #787878;
  max-width: 559px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}
.footer-container .footer-container__skills {
  gap: 100px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  display: inline-flex;
}
.footer-container .footer-container__skills div {
  transition: all 1s;
}
.footer-container .footer-container__skills div:hover {
  cursor: pointer;
  color: #003adb;
  transition: 0.5s;
}
.footer-container .footer-container__social-links {
  gap: 30px;
  display: inline-flex;
  margin: 60px;
}
.footer-container .footer-container__social-links img:hover {
  cursor: pointer;
}

@media only screen and (max-width: 481px) {
  .what-we-do-container {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .what-we-do-container .what-we-do__item {
    margin-left: 20px;
    margin-right: 20px;
  }
  .our-works__bg .our-works__title {
    text-align: center;
  }
  .our-works__bg .our-works__row-2 .not-impressed-fragment {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    min-width: 0%;
  }
  .our-works__bg img {
    width: 100%;
  }
  .information__about-us {
    margin-bottom: 10px;
  }
  .information__about-us .information__fragment {
    display: flex;
    flex-direction: column;
  }
  .information__about-us .information__fragment .information__item {
    display: flex;
    flex-grow: 1;
    padding-top: 25px;
    min-height: 200px;
    flex-direction: column;
    justify-content: start;
    border-left: none;
    border-bottom: 0.5px solid #abc4e3;
  }
  .information__about-us .information__fragment .information__item:last-child {
    border-bottom: none;
  }
  .testimonial__company-head {
    display: flex;
    flex-direction: column;
  }
  .testimonial__company-head img {
    border-radius: none;
  }
  .testimonial__company-head .testimonial__about-head {
    margin-left: 20px;
    margin-right: 20px;
  }
  .testimonial__company-head .testimonial__head-employers-list {
    gap: 10px;
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
  }
  .testimonial__company-head .testimonial__head-employers-list div {
    height: 2px;
    width: 33px;
  }
}/*# sourceMappingURL=styles.css.map */