h1 {
  color: #fff;
  font-size: 85px;
  font-weight: 700;
}

h3 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
}

h4 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

h5 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

h6 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

span {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}
