.form-container {
  display: flex;
  align-items: center;
}

.form-container > button {
  width: 32px;
  height: 32px;
  border: none;
  background-color: white;
}

.form-container > form > input {
  border: none;
  font-size: 16px;
  font-weight: 500;
}
